@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul,
li,
p,
i,
a,
h1 {
  font-family: "Nanum Gothic", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

textarea {
	font-family: inherit;
}