<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/style2.css" />

<!-- Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../js/script.js"></script>

<!--폰트-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous" />
<link rel="shortcut icon" href="../images/favicon.ico" />
<title>자바펜션 | 영종도을왕리</title>
</head>

<body>
	<div id="wrap">
		<header class="headerGnb" id="headerGnb">
			<div class="headerInner">
				<div class="logo">
					<a href="../index.html"><img
						src="../images/logo333.png" alt="logo" /></a>
				</div>
				<ul class="gnbTab">
					<li><a href="space.html">공간</a></li>
					<li><a href="record.html">기록</a></li>
					<li><a href="service.html">서비스</a></li>
					<li><a href="location.html">위치</a></li>
					<li><a href="tour.html">여행</a></li>
					<li><a href="qna.html">문의</a></li>
				</ul>
				<ul class="liveReservationTab">
					<li><a href="calendar.html"><i
							class="far fa-paper-plane"> 실시간예약</i></a>
						<ul class="rsSubMenu">
							<li><a href="reservation.html">예약하기</a></li>
							<li><a href="reservationcheck.html">예약확인</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="appGnb">
				<div class="appReservationGnb">
					<a href="calendar.html"><i class="far fa-paper-plane"></i></a>
				</div>
				<div class="appLogo">
					<a href="../index.html"><img
						src="../images/logo333.png" alt="logo" /></a>
				</div>
				<nav>
					<ul class="toggleGnb">
						<li><i class="fas fa-bars"></i>
							<ul class="subMenu">
								<li><a href="space.html">공간</a></li>
								<li><a href="record.html">기록</a></li>
								<li><a href="service.html">서비스</a></li>
								<li><a href="location.html">위치</a></li>
								<li><a href="tour.html">여행</a></li>
								<li><a href="qna.html">문의</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- location 추가 -->
		<div id="content">
			<section>
				<div class="map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.656515737332!2d126.37646606303734!3d37.44521832060053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b91313b54f01f%3A0xe1ede5239cf7a6e4!2z7JeU7IaM7J207Y6c7IWY!5e0!3m2!1sko!2skr!4v1634142299327!5m2!1sko!2skr"
						width="100%" height="450" style="border: 0" allowfullscreen=""
						loading="lazy"></iframe>
				</div>
			</section>
			<section>
				<div class="widgetList inner">
					<div class="locationWidget">
						<div class="widgetIcon">
							<img src="../images/위치/address.png" alt="address" />
						</div>
						<div class="widgetText">
							<h3>인천 중구 을왕동 730-2</h3>
							<span>ㅡ</span>
							<p>
								언제나 설레는 여행가는 길<br /> 차로 이동할 수 있는 섬, 영종도에<br /> 자바펜션이 있어요 ! <br />
								<br /> 즐거운 여행길 되시길 바라요 :)
							</p>
						</div>
					</div>
					<div class="locationWidget">
						<div class="widgetIcon">
							<img src="../images/위치/trans.png" alt="transportation" />
						</div>
						<div class="widgetText">
							<h3>대중교통 안내</h3>
							<span>ㅡ</span>
							<p>
								1/ 인천공항 (3층) 2,7,13 정류장 111번 버스 탑승<br /> 2/ 을왕리해수욕장 하차 (20분 소요)<br />
								3/ 자바펜션 (도보3분)<br />
								<br /> <span>* 306번 버스 을왕리해수욕장 정차 (40분 소요)</span>
							</p>
						</div>
					</div>
					<div class="locationWidget">
						<div class="widgetIcon">
							<img src="../images/위치/bbq.png" alt="barbeque" />
						</div>
						<div class="widgetText">
							<h3>바베큐 장보기</h3>
							<span>ㅡ</span>
							<p>
								<span>객실에서는 구이 및 해산물 요리를 할 수 없습니다.</span><br /> 고기 및 조미료 등 바베큐
								음식은 직접 사오셔야 합니다.<br /> 가까운 거리에 24시 편의점과 정육점이 있습니다.<br /> 승용차로
								15분 거리에 롯데마트가 있습니다.<br />
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<footer>
			<div class="footerInner">
				<ul class="sns">
					<li class="insta"><a href="https://www.instagram.com/ensoi__/"
						target="_blank"><i class="fab fa-instagram"></i></a>
					</li>
					<li class="naver"><a
						href="https://store.naver.com/accommodations/detail?entry=plt&id=31549635&query=%EC%97%94%EC%86%8C%EC%9D%B4%ED%8E%9C%EC%85%98"
						target="_blank"><i
							class="fas fa-map-marker-alt"></i></a></li>
					<li class="facebook"><a
						href="https://www.facebook.com/ensoihouse/" target="_blank"> <i
							class="fab fa-facebook"></i></a></li>
				</ul>
				<hr class="hr" />
				<div class="info">
					<p>
						<span>자바펜션</span>
					</p>
					<p>
						<span>주소</span> 인천광역시 중구 을왕동 730-2
					</p>
					<p>
						<span>문의</span> 010-1234-5678
					</p>
					<p>
						<span>사업자등록번호</span> 123-45-67899
					</p>
					<p>
						<span>입금계좌</span> 티에스(아이은행) 123-45-67891-0
					</p>
				</div>
			</div>
			<!--footerWrap-->
		</footer>
	</div>
</body>
</html>
