<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <!-- Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/script.js"></script>

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="../images/favicon.ico" />
    
    <title>자바펜션 | 영종도을왕리</title>
    
    
  </head>

  <body>
    <div id="wrap">
      <header class="headerGnb" id="headerGnb">
        <div class="headerInner">
          <div class="logo">
            <a href="../index.html"
              ><img src="../images/logo333.png" alt="logo"
            /></a>
          </div>
          <ul class="gnbTab">
            <li><a href="space.html">공간</a></li>
            <li><a href="record.html">기록</a></li>
            <li><a href="service.html">서비스</a></li>
            <li><a href="location.html">위치</a></li>
            <li><a href="tour.html">여행</a></li>
            <li><a href="qna.html">문의</a></li>
          </ul>
          <ul class="liveReservationTab">
            <li>
              <a href="calendar.html"
                ><i class="far fa-paper-plane">　실시간예약</i></a
              >
              <ul class="rsSubMenu">
                <li><a href="reservation.html">예약하기</a></li>
                <li><a href="reservationcheck.html">예약확인</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="appGnb">
          <div class="appReservationGnb">
            <a href="calendar.html"><i class="far fa-paper-plane"></i></a>
          </div>
          <div class="appLogo">
            <a href="../index.html"
              ><img src="../images/logo333.png" alt="logo"
            /></a>
          </div>
          <nav>
            <ul class="toggleGnb">
              <li>
                <i class="fas fa-bars"></i>
                <ul class="subMenu">
                  <li><a href="space.html">공간</a></li>
                  <li><a href="record.html">기록</a></li>
                  <li><a href="service.html">서비스</a></li>
                  <li><a href="location.html">위치</a></li>
                  <li><a href="tour.html">여행</a></li>
                  <li><a href="qna.html">문의</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--header end-->

     
      <div id="gnb03Contents">
        <div class="title">
          <img src="../images/service/wine_title.png" alt="titleWine" />
          <p class="titleTxt">
            소중한 여행이 특별해지도록<br />자바펜션에서 준비한 부가서비스를
            만나보세요.
          </p>
        </div>
        <ul class="serviceMenu">
          <li class="serviceImg01">
            <!-- <img src="../images/서비스/barbeque.jpg" alt="img1" /> -->
          </li>
          <li class="serviceTxt01">
            <h2>개별 바베큐</h2>
            <p>가격 : 20,000원(2명) | 30,000원(3~4명)</p>
            <ul class="serviceTxtDetail">
              <li>자바펜션은 모든 객실마다 개별 바베큐 테라스가 있습니다.</li>
              <li class="txtBold">객실 안에서 육류구이 및 해산물 조리가 불가능 합니다.</li>
              <li>고기,야채 조미료 등 바베큐 음식은 직접 사오셔야 합니다.</li>
              <li>자바펜션에서 제공되는 숯만 사용할 수 있습니다.</li>
              <li>우천 시 바베큐가 어려울 수 있습니다.</li>
            </ul>
          </li>
          <li class="serviceImg02">
            <!-- <img src="../images/서비스/spar.png" alt="img2" /> -->
          </li>
          <li class="serviceTxt02">
            <h2>스파 거품 입욕제</h2>
            <p>가격 : 5,000원 (1개)</p>
            <p>구성 : 라벤더 또는 오렌지린든 블라썸</p>
            <ul class="serviceTxtDetail">
              <li>Dresdner essenz herbal bath</li>
              <li>입욕제 종류는 요청이 없으면 임의로 제공됩니다.</li>
              <li>허브와 추출물로 유명한 독일 제품입니다.</li>
              <li>체크인 시 카페에서 입욕제를 구매할 수 있습니다.</li>
              <li>스파 이용이 가능한 객실은 자바펜션 1/2/3 객실입니다.</li>
            </ul>
          </li>
          <li class="serviceImg03">
            <!-- <img src="../images/서비스/wine_red.jpg" alt="img3" /> -->
          </li>
          <li class="serviceTxt03">
            <h2>화이트 와인</h2>
            <p class="txtBold">허니문 모스카토</p>
            <p calss="txtBold">Abbazia, Honeymoon Moscato, Italy</p>
            
            <p>가격 : 25,000원 (1병)</p>
            <p>구성 : 화이트 와인 750ml, 와인 케이스</p>
            <ul class="serviceTxtDetail">
              <li>스파클링의 기포감과 스위트한 미감이 매력적입니다.</li>
              <li>포도, 복숭아, 패션 푸르츠의 향이 달콤하게 느껴집니다.</li>
              <li>체크인 시 제공합니다.</li>
            </ul>
          </li>
          <li class="serviceImg04">
            <!-- <img src="../images/서비스/wine_white.jpg" alt="img4" /> -->
          </li>
          <li class="serviceTxt04">
            <h2>레드 와인</h2>
            <p class="txtBold">에코발란스 피노 누아 2018 (유기농 와인)</p>
            <p calss="txtBold">Emillana Ecobalance Pinot Noir 2018, Chile</p>
            
            <p>가격 : 25,000원 (1병)</p>
            <p>구성 : 레드 와인 750ml, 와인 케이스</p>
            <ul class="serviceTxtDetail"> 
              <li>달콤한 바닐라 아로마의 플로럴 향이 납니다.</li>
              <li>풍부한 과실 풍미와 부드러운 미감을 주는 와인입니다.</li>
              <li>체크인 시 제공합니다.</li>
            </ul>
          </li>
          <li class="serviceImg05">
            <!-- <img src="../images/서비스/brunch.png" alt="img5" /> -->
          </li>
          <li class="serviceTxt05">
            <h2>브런치 (조식)</h2>
            <p>가격 : 5,000원(1명)</p>
            <p>구성 : 파니니, 소세지, 계절과일, 샐러드, 시리얼, 쥬스, 잼</p>
            <ul class="serviceTxtDetail">
              <li>체크인 전 까지 예약 가능합니다.</li>
              <li class="txtBold">브런치 이용 당일 신청 및 환불은 불가능합니다.</li>
              <li>자바 카페에서만 드실 수 있습니다. (10:00 ~ 10:30)</li>
            </ul>
          </li>
          <li class="serviceImg06">
            <!-- <img src="../images/서비스/bedding.jpg" alt="img6" /> -->
          </li>
          <li class="serviceTxt06">
            <h2>최고급 침구류</h2>
            <ul class="serviceTxtDetail">
              <li>모든 객실에 최고급 린넨과 구스 침구가 준비되어 있습니다.</li>
              <li class="txtBold">하얀 이불시트, 베개커버를 매일 교체합니다.</li>
              <li>세탁과 건조의 모든 과정은 자체적으로 꼼꼼히 진행합니다.</li>
              <li>자바펜션을 찾는 모든 분께 따뜻함과 깨끗함을 선물합니다.</li>
            </ul>
          </ul>
        </li>
      </div>

      <!--footer start-->
      <footer>
        <div class="footerInner">
          <ul class="sns">
            <li class="insta">
              <a href="https://www.instagram.com/ensoi__/" target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li class="naver">
              <a
                href="https://store.naver.com/accommodations/detail?entry=plt&id=31549635&query=%EC%97%94%EC%86%8C%EC%9D%B4%ED%8E%9C%EC%85%98"
                target="_blank"
                ><i class="fas fa-map-marker-alt"></i
              ></a>
            </li>
            <li class="facebook">
              <a href="https://www.facebook.com/ensoihouse/" target="_blank">
                <i class="fab fa-facebook"></i
              ></a>
            </li>
          </ul>
          <hr class="hr" />
          <div class="info">
            <p><span>자바펜션</span></p>
            <p><span>주소</span> 인천광역시 중구 을왕동 730-2</p>
            <p><span>문의</span> 010-1234-5678</p>
            <p><span>사업자등록번호</span> 123-45-67899</p>
            <p><span>입금계좌</span> 티에스(아이은행) 123-45-67891-0</p>
          </div>
        </div>
        <!--footerWrap-->
      </footer>
    </div>

  </body>
</html>
