<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/space.css" />

    <!-- Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/script.js"></script>

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <title>자바펜션 | 영종도을왕리</title>
  </head>
  <body>
    <header class="headerGnb" id="headerGnb">
      <div class="headerInner">
        <div class="logo">
          <a href="../index.html"
            ><img src="../images/logo333.png" alt="logo"
          /></a>
        </div>
        <ul class="gnbTab">
          <li><a href="space.html">공간</a></li>
          <li><a href="record.html">기록</a></li>
          <li><a href="service.html">서비스</a></li>
          <li><a href="location.html">위치</a></li>
          <li><a href="tour.html">여행</a></li>
          <li><a href="qna.html">문의</a></li>
        </ul>
        <ul class="liveReservationTab">
          <li>
            <a href="calendar.html"
              ><i class="far fa-paper-plane">　실시간예약</i></a
            >
            <ul class="rsSubMenu">
              <li><a href="reservation.html">예약하기</a></li>
              <li><a href="reservationcheck.html">예약확인</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="appGnb">
        <div class="appReservationGnb">
          <a href="calendar.html"><i class="far fa-paper-plane"></i></a>
        </div>
        <div class="appLogo">
          <a href="../index.html"
            ><img src="../images/logo333.png" alt="logo"
          /></a>
        </div>
        <nav>
          <ul class="toggleGnb">
            <li>
              <i class="fas fa-bars"></i>
              <ul class="subMenu">
                <li><a href="space.html">공간</a></li>
                <li><a href="record.html">기록</a></li>
                <li><a href="service.html">서비스</a></li>
                <li><a href="location.html">위치</a></li>
                <li><a href="tour.html">여행</a></li>
                <li><a href="qna.html">문의</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="content">
      <section id="image_slider">
        <div class="image_wapper_container" id="image_container">
          <div class="image_wrapper">
            <!--사진 자르기-->
            <img src="../images/공간/room1_01.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_02.jpg" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_03.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_04.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_05.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_06.jpg" />
          </div>
        </div>
        <a href="#" class="button_prev"
          ><!--화살표 버튼-->
          <img src="../images/공간/prev.png" alt="" class="button_arrow" />
        </a>
        <a href="#" class="button_next">
          <img src="../images/공간/next.png" alt="" class="button_arrow" />
        </a>

        <div class="button_bullets">
          <!--밑 동그라미버튼-->
          <button class="button1">1</button>
          <button class="button2">2</button>
        </div>
      </section>
      <section id="image_slider_mobile">
        <div class="image_wapper_container" id="image_mobile_container">
          <div class="image_wrapper">
            <img src="../images/공간/room1_01.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_02.jpg" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_03.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_04.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_05.png" />
          </div>
          <div class="image_wrapper">
            <img src="../images/공간/room1_06.jpg" />
          </div>
        </div>
        <div class="button_bullets">
          <!--밑 동그라미버튼-->
          <button class="mbutton1">1</button>
          <button class="mbutton2">2</button>
          <button class="mbutton3">3</button>
          <button class="mbutton4">4</button>
          <button class="mbutton5">5</button>
          <button class="mbutton6">6</button>
        </div>
      </section>
      <section class="slider_underLine">
        <hr />
      </section>

      <section id="introduce">
        <div>
          <h1>미모아 1</h1>
          <br />
          <p>북유럽 스타일의 모던하면서 정갈하게 꾸며진 공간입니다.</p>
          <p>
            스파가 있는 욕실이 개방되어 세련된 디자인으로 멋진 여행을 꿈꾸는
            분에게 권하고 싶은 객실입니다.
          </p>
          <br />
          <!--모바일 버전 반응형 추가 텍스트-->
          <div id="introduce_plus_mobile">
            <h3>시설 및 비품</h3>
            <br />
            <p>월풀 스파욕조, 퀸침대1, 벽걸이TV, Olleh TV, WIFI</p>
            <p>빌트인에어컨, 냉장고, 전기밥솥, 전자레인지(인덕션)</p>
            <p>전자레인지, 2인식기, 와인잔, 와인오프너, 헤어드라이어</p>
            <p>커피포트, 제습기, 타월, 비누, 샴푸, 린스, 바디워시</p>
            <br />
          </div>
          <table class="introduce_table">
            <caption></caption>
            <thead>
              <tr>
                <th rowspan="2">객실명</th>
                <th rowspan="2">구조</th>
                <th rowspan="2">크기</th>
                <th rowspan="2">인원<br />(기준/최대)</th>
                <th colspan="4">요금안내</th>
                <th rowspan="2">추가요금</th>
              </tr>
              <tr>
                <th>기간</th>
                <th>주중(일-목)</th>
                <th>금요일</th>
                <th>주말(토요일)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="low_tr">
                <th rowspan="2">미모아1</th>
                <th rowspan="2">
                  오픈형/스파<br />월풀스파,침대1<br />욕실,주방
                </th>
                <th rowspan="2">56㎡</th>
                <th rowspan="2">2/2</th>
                <td>비수기</td>
                <td>15만원</td>
                <td>17만원</td>
                <td>19만원</td>
                <th rowspan="2">1인 2만원<br />(영,유아 포함)</th>
              </tr>
              <tr class="peak_tr">
                <td>성수기</td>
                <td>25만원</td>
                <td>25만원</td>
                <td>25만원</td>
              </tr>
            </tbody>
          </table>
          <table class="introduce_table_mobile">
            <thead>
              <tr>
                <th colspan="4">오픈형/스파(기준2/최대2)</th>
              </tr>
              <tr>
                <th>기간</th>
                <th>일-목</th>
                <th>금요일</th>
                <th>토요일</th>
              </tr>
            </thead>
            <tbody>
              <tr class="low_tr">
                <td>비수기</td>
                <td>15만원</td>
                <td>17만원</td>
                <td>19만원</td>
              </tr>
              <tr class="peak_tr">
                <td>성수기</td>
                <td>25만원</td>
                <td>25만원</td>
                <td>25만원</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="underLine">
        <hr />
      </section>
      <!--서비스 부분-->
      <section id="service">
        <nav id="service_list1">
          <div id="service_name1" , class="service_name">
            <br />
            <h3>객실 서비스</h3>
          </div>
          <div class="service_box">
            <div>
              <ul>
                <li>월풀 스파욕조</li>
                <li>벽걸이 TV</li>
                <li>무료 WIFI</li>
                <li>KT 인터넷 TV</li>
                <li>커피포트</li>
                <li>와인잔 및 오프너</li>
                <li>주방기구 일체</li>
              </ul>
            </div>
            <div>
              <ul>
                <li>개별 바베큐 테라스</li>
                <li>빌트인 에어컨</li>
                <li>냉장고</li>
                <li>전기레인지(인덕션)</li>
                <li>전자레인지</li>
                <li>제습기</li>
              </ul>
            </div>
          </div>
        </nav>
        <nav id="service_list2" class="service_name">
          <div id="service_name2">
            <br />
            <h3>어메니티</h3>
          </div>
          <div class="service_box">
            <div>
              <ul>
                <li>샴푸 린스 바디워시 비누</li>
                <li>배쓰 타월</li>
                <li>헤어드라이어</li>
              </ul>
            </div>
          </div>
        </nav>
        <nav id="service_list3" class="service_name">
          <div id="service_name3">
            <br />
            <h3>체크인 아웃</h3>
          </div>
          <div class="service_box">
            <div>
              <ul>
                <li>체크인</li>
                <li>체크아웃</li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
      <section id="service_mobile">
        <div id="service_name1" , class="service_name">
          <br />
          <h3>부가 서비스</h3>
        </div>
        <div class="service_image_box">
          <a href="service.html">
            <img src="../images/공간/service1.png" />
            <p>개별 바베큐</p>
          </a>
          <a href="service.html">
            <img src="../images/공간/service2.png" />
            <p>조식</p>
          </a>
          <a href="service.html">
            <img src="../images/공간/service3.png" />
            <p>스파 입욕제</p>
          </a>
          <a href="service.html">
            <img src="../images/공간/service4.png" />
            <p>와인</p>
          </a>
        </div>
      </section>

      <section class="underLine">
        <hr />
      </section>
      <section id="image_link">
        <a href="space.html" class="link_image_wrapper">
          <!--이미지 잘라주는 역할 메인이미지는 image_wrapper-->
          <img src="../images/공간/room1_01.png" />
          <div class="link_image_text">
            <div>
              <p>미모아</p>
              <p>오픈형/스파/2인</p>
            </div>
          </div>
        </a>
        <a href="space2.html" class="link_image_wrapper">
          <img src="../images/공간/room2_01.png" />
          <div class="link_image_text">
            <div>
              <p>미모아2</p>
              <p>원룸형/스파/2인</p>
            </div>
          </div>
        </a>
        <a href="space3.html" class="link_image_wrapper">
          <img src="../images/공간/room3_01.png" />
          <div class="link_image_text">
            <div>
              <p>미모아3</p>
              <p>원룸형/스파/2-4인</p>
            </div>
          </div>
        </a>
        <a href="space4.html" class="link_image_wrapper">
          <img src="../images/공간/room4_01.png" />
          <div class="link_image_text">
            <div>
              <p>미모아5</p>
              <p>원룸형/2인</p>
            </div>
          </div>
        </a>
      </section>

      <section class="homebutton">
        <a href="#"><img src="../images/공간/up.JPG" alt="" /></a>
      </section>
    </div>
    <footer>
      <div class="footerInner">
        <ul class="sns">
          <li class="insta">
            <a href="https://www.instagram.com/ensoi__/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="naver">
            <a
              href="https://store.naver.com/accommodations/detail?entry=plt&id=31549635&query=%EC%97%94%EC%86%8C%EC%9D%B4%ED%8E%9C%EC%85%98"
              target="_blank"
              ><i class="fas fa-map-marker-alt"></i
            ></a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/ensoihouse/" target="_blank">
              <i class="fab fa-facebook"></i
            ></a>
          </li>
        </ul>
        <hr class="hr" />
        <div class="info">
          <p><span>자바펜션</span></p>
          <p><span>주소</span> 인천광역시 중구 을왕동 730-2</p>
          <p><span>문의</span> 010-1234-5678</p>
          <p><span>사업자등록번호</span> 123-45-67899</p>
          <p><span>입금계좌</span> 티에스(아이은행) 123-45-67891-0</p>
        </div>
      </div>
      <!--footerWrap-->
    </footer>
  </body>
</html>
